*,
*:before,
*after {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #495773;
  border-radius: 25px;
  z-index: 2;
}

.header {
  background: #f2600c;
  height: 30px;
  width: 100%;
  padding: 12px;
  text-align: space-around;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  align-items: center;
}
.list {
  background: skyblue;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.filter {
  width: 25%;
  height: 30px;

  background: #495773;
}
.restaurantlist {
  background: rgb(183, 228, 228);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow: auto;
  align-items: center;
}
.restaurant {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 90%;
  margin: 18px;
  padding: 14px;
  background: whitesmoke;
}

.footer {
  background: #f2600c;
  height: 40px;
  text-align: center;
  box-shadow: 125px 55px 45px 10px rgb(223, 233, 243);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
